[submodule "wechat-decrypt"]
	path = wechat-decrypt
	url = https://github.com/ylytdeng/wechat-decrypt.git
	ignore = untracked

[submodule "pywechat"]
	path = pywechat
	url = https://github.com/Hello-Mr-Crab/pywechat
	ignore = untracked
